.home-page {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url('../../assets/images/LoginBg.png'); /* Substitua pelo caminho da sua imagem */
    background-size: cover;
    background-position: center;
    position: relative;
  }
  
  .footer {
    position: absolute;
    bottom: 20px;
    text-align: center;
    width: 100%;
    color: white;
  }
  
  .home-container {
    background-color: white;
    border-radius: 42%;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 90%;
    max-width: 1032px;
    min-height: 600px;
    text-align: center;
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
  
  .separator {
    border-left: 2px solid #ddd;
    height: 80%;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
  }
  
  .left-section, .right-section {
    flex: 1;
    padding: 20px;
  }
  
  .left-section {
    text-align: center;
  }
  
  .right-section {
    text-align: left;
    flex-direction: column;
  }
  
  .left-section img {
    max-width: 100%;
    height: auto;
  }
  
  .list-unstyled {
    padding-left: 0;
  }
  
  .list-unstyled li {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
  }
  
  .list-unstyled li i {
    margin-right: 10px;
  }
  
  .btn img {
    width: 20px;
    height: 20px;
    margin-right: 8px;
  }
  
  .login-btn{
    align-self: center;
    width: 80%;
  }