*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.body-home{
    width: 100vw;
    height: 100vh;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    background-image: url('../../assets/images/LoginBg.png');
    background-size: cover;
}

.container-login{
    width: 80vw;
    height: 80%;
}

.footer-login{
    justify-self: center;
    font-size: 20px;
    align-self: flex-end;
    padding-bottom: 12px;
}