.calendar {
  padding: 0;
  width: 960px;
  height: 860px;
  background-color: #D9D9D9;
}

.calendar .header {
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  height: 6rem;
  background-color: #3800f080; /* 50% de transparência */
}
.calendar .header .title {
  color: white;
  font-size: 2.25rem;
  font-weight: 700;
}
.calendar .header .rf {
  transform: rotate(180deg); /* Inverte a posição da seta */
}