/* Calendar Wrapper: */
.calendar {
  padding: 0;
  width: 960px;
  background-color: #d9d9d9;
}

/* FullCalendar Header: */
.fc .fc-header-toolbar {
  padding: 1rem 1.5rem;
  border-radius: 1rem 1rem 0 0;
  background-color: #3900F080;
}
.fc-view-harness {
  margin: 0 1.5rem 1.5rem 1.5rem;
}

.fc .fc-daygrid-day.fc-day {
  background-color: #FFF;
}
.fc .fc-daygrid-day.fc-day-today {
  background-color: hsl(47, 100%, 85%);
}
.fc-daygrid-day-number {
  color: #383838;
  font-weight: 900;
  text-decoration-line: none;
}

/* Weekday Row */
thead table[role=presentation] {
  height: 40px;
  background-color: hsla(254, 100%, 47%, 0.35); 
  border-radius: 1rem 1rem 0 0;
}
/* MAYBE WILL BE USED:
  thead .fc-col-header-cell {
    border: none;
  } 
*/
thead .fc-scrollgrid-sync-inner {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
}
thead .fc-scrollgrid-sync-inner a {
  color: white;
  font-weight: 700;
  text-decoration-line: none;
  text-transform: capitalize;
}

/* =:=:=:=:= UNUSED CODE - Replicate this behaviour on FullCalendar =:=:=:=:= */
.calendar .header {
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  height: 6rem;
  background-color: #3800f080; /* 50% de transparência */
}
.calendar .header .title {
  color: white;
  font-size: 2.25rem;
  font-weight: 700;
}
.calendar .header .rf {
  transform: rotate(180deg); /* Inverte a posição da seta */
}
/* =:=:=:=:= UNUSED CODE - END =:=:=:=:= */