/** VARIABLES **/
:root {
    /* Primary Colors: */
    --indigo: hsl(259, 100%, 59%);
    --pink: hsl(299, 100%, 59%);
    --purple: hsl(274, 100%, 47%);

    /* Secondary Colors: */
    --sec-indigo: hsl(259, 100%, 40%);
    --sec-pink: hsl(294, 100%, 40%);
    --sec-purple: hsl(274, 95%, 36%);
    --red: #C66464; 
    --green: #64C66E;

    /* Neutral Colors: */
    --black: #0E0E0E;
    --very-dark-gray: #1f1f1f;
    --dark-gray: #5f5f5f;
    --light-gray: #8C8C8C;
    --very-light-gray: #CCCCCC;
    --white: #ffffff;
}

/** PROJECT FONTS **/
@font-face {
    font-family: "Fira Sans";
    src: url(./assets/fonts/Fira_Sans/FiraSans-Regular.ttf);
}

@font-face {
    font-family: "Josefin Sans";
    src: url(./assets/fonts/Josefin_Sans/JosefinSans-VariableFont_wght.ttf);
}

/** GLOBAL PROPERTIES: **/
* {
    font-family: "Fira Sans", sans-serif;
}